# Ignore PHP unit cache files
/.phpunit.cache
.phpunit.result.cache

# Node and Yarn dependencies
/node_modules
/vendor/
npm-debug.log
yarn-error.log

# Laravel specific files and folders
/public/build
/public/hot
/public/storage
/bootstrap/compiled.php
app/storage/

# Custom environment and backup files
.env
.env.backup
.env.production

# Homestead configuration files
Homestead.json
Homestead.yaml
/.vagrant

# Other IDE and configuration files
/.fleet
/.idea
/.vscode
/.zed

# Ignore storage keys and files
/storage/*.key
/storage/pail
